
FourPrinciplesOfOOP/FourPrinciplesOfOOP/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
StudentManager/.vs/StudentManager/v15/.suo
StudentManager/.vs/StudentManager/v15/Server/sqlite3/storage.ide
.vscode/launch.json
StudentManager/.vs/StudentManager/v15/.suo
StudentManager/.vs/StudentManager/v15/Server/sqlite3/storage.ide
StudentManager/.vs/StudentManager/v15/Server/sqlite3/storage.ide-shm
StudentManager/.vs/StudentManager/v15/Server/sqlite3/storage.ide-wal
StudentManager/.vscode/launch.json
StudentManager/StudentManager/bin/Debug/StudentManager.exe
StudentManager/StudentManager/bin/Debug/StudentManager.pdb
StudentManager/StudentManager/bin/Debug/StudentManager.SM
StudentManager/StudentManager/obj/Debug/StudentManager.csproj.CoreCompileInputs.cache
StudentManager/StudentManager/obj/Debug/StudentManager.exe
StudentManager/StudentManager/obj/Debug/StudentManager.pdb
StudentManager/.vs/StudentManager/v15/Server/sqlite3/storage.ide
StudentManager/.vs/StudentManager/v15/.suo
*.ide
StudentManager/.vs/StudentManager/v15/.suo
*.exe
*.exe
StudentManager/.vs/StudentManager/v15/.suo
StudentManager/.vs/StudentManager/v15/.suo
StudentManager/.vs/StudentManager/v15/Server/sqlite3/storage.ide
