
@{
    ViewBag.Title = "Edit";
}

<h1>This page will be used by user who want to edit the database in the future</h1>

<form action="/Editor/PostName" method="post">
    Name: <input type="text" name="personName" />
    <input type="submit" name="btnSubmit" value="Click to submit" />
</form>