@model DatabaseProvider.Student
    
@{
    ViewBag.Title = "EditStudent";
}

<h2>Edit Student</h2>
<form action="/Editor/DoneEditStudent">
    <h3> ID: @Model.ID  <br /></h3>
    <input type="hidden" value=@Model.ID name="id" height="0" width="0" /><br />
    student name @Model.STU_NAME<br />
    Please input Name <input type="text" value='@Model.STU_NAME' name="name" height="100" width="400"/><br />
    Please input Date of birth <input type="text" value=@Model.DATE_OF_BIRTH name="date" /><br />
    Please input Class ID <input type="text" value=@Model.CLA_ID name="cclass" /><br />
    Please input school ID <input type="text" value=@Model.UNI_ID name="school" /><br />
    Please input Department ID <input type="text" value=@Model.DEP_ID name="department" /><br />

    <input type="submit" value="Done" />

</form>

