@model DatabaseProvider.Class


<h2>Edit Student</h2>
<form action="/Editor/DoneEditClass">
    <h3> ID: @Model.ID  <br /></h3>
    <input type="hidden" value=@Model.ID name="id" height="0" width="0" /><br />
    Please input Name <input type="text" value=@Model.CLA_NAME name="name" /><br />
    Please input school ID <input type="text" value=@Model.UNI_ID name="school" /><br />
    Please input Department ID <input type="text" value=@Model.DEP_ID name="department" /><br />

    <input type="submit" value="Done" />

</form>

