
@{
    ViewBag.Title = "QueryPage";
}

<h2>QueryPage</h2>

<form action="/Editor/ReturnStudentByID">
   Please input ID of the student you want to find <input type="text" value="0001" name="studentID" />
    <input type="submit" value="Find" />

</form>