
@{
    ViewBag.Title = "QueryPage";
}

<h1>QueryPage</h1>

@*<form action="/Editor/ReturnStudentByID">
       Please input ID of the student you want to find <input type="text" value="0001" name="studentID" />
        <input type="submit" value="Find" />

    </form>*@


<summary>Students edit</summary>
<details>
    <ul>
        <li>
            <b> Find student by ID</b>
            <form action="/Editor/ReturnStudentByID">
                Please input ID of the student you want to find <input type="text" value="0001" name="studentID" />
                <input type="submit" value="Find" />

            </form>
        </li>
        <li>
            <b>Add Student</b>
            <form action="/Editor/AddStudent">
                Please input ID <input type="text" value="0025" name="id" /><br />
                Please input Name <input type="text" value="Nguyen Van A" name="name" /><br />
                Please input Date of birth <input type="text" value="1/1/2001" name="date" /><br />
                Please input Class ID <input type="text" value="" name="cclass" /><br />
                Please input school ID <input type="text" value="" name="school" /><br />
                Please input Department ID <input type="text" value="" name="department" /><br />

                <input type="submit" value="Add" />

            </form>
        </li>
        <li>
            <b>Get All Student</b>
            <form action="/Editor/GetAllStudent">
                <input type="submit" value="Get All Student" />

            </form>
        </li>
        <li>
            <b>Delete Student</b>
            <form action="/Editor/DeleteStudent">
                Please input ID <input type="text" value="0022" name="studentID" /><br />
                Please input school ID <input type="text" value="UIT" name="school" /><br />

                <input type="submit" value="Delete" />

            </form>
        </li>
        <li>
            <b>Edit Student</b>
            <form action="/Editor/EditStudent">
                Please input ID <input type="text" value="0001" name="studentID" /><br />

                <input type="submit" value="Edit" />

            </form>
        </li>


    </ul>
</details>
<br />
<summary>Classes Edit</summary>
<details>
    <ul>
        <li>
            <b> Find class by ID</b>
            <form action="/Editor/ReturnClassByID">
                Please input ID of the class you want to find <input type="text" value="19C1" name="classID" />
                <input type="submit" value="Find" />

            </form>
        </li>
        <li>
            <b>Add Class</b>
            <form action="/Editor/AddClass">
                Please input ID <input type="text" value="0025" name="id" /><br />
                Please input Name <input type="text" value="Nguyen Van A" name="name" /><br />
                Please input school ID <input type="text" value="" name="school" /><br />
                Please input Department ID <input type="text" value="" name="department" /><br />

                <input type="submit" value="Add" />

            </form>
        </li>
        <li>
            <b>Get All Class </b>
            <form action="/Editor/GetAllClass">
                <input type="submit" value="Get All Class" />

            </form>
        </li>
        <li>
            <b>Delete Class</b>
            <form action="/Editor/DeleteClass">
                Please input ID <input type="text" value="2C20" name="classID" /><br />
                Please input school ID <input type="text" value="UIT" name="school" /><br />
                Please input department ID <input type="text" value="C01" name="department" /><br />

                <input type="submit" value="Delete" />

            </form>
        </li>
        <li>
            <b>Edit Class</b>
            <form action="/Editor/EditClass">
                Please input ID <input type="text" value="0001" name="classID" /><br />
                Please input school ID <input type="text" value="UIT" name="school" /><br />
                Please input department ID <input type="text" value="C01" name="department" /><br />

                <input type="submit" value="Edit" />

            </form>
        </li>


    </ul>
</details>
<br />
<summary>Department Edit</summary>
<details>
    <ul>
        <li>
            <b> Find department by ID</b>
            <form action="/Editor/ReturnDepartmentByID">
                Please input ID of the department you want to find <input type="text" value="19C1" name="departmentID" /><br />
                Please input school ID <input type="text" value="" name="school" /><br />

                <input type="submit" value="Find" />

            </form>
        </li>
        <li>
            <b>Add department</b>
            <form action="/Editor/AddDepartment">
                Please input ID <input type="text" value="" name="id" /><br />
                Please input Name <input type="text" value="" name="name" /><br />
                Please input school ID <input type="text" value="" name="school" /><br />

                <input type="submit" value="Add" />

            </form>
        </li>
        <li>
            <b>Get All Department </b>
            <form action="/Editor/GetAllDepartment">
                <input type="submit" value="Get All Department" />

            </form>
        </li>
        <li>
            <b>Delete Department</b>
            <form action="/Editor/DeleteDepartment">
                Please input ID <input type="text" value="2C20" name="department" /><br />
                Please input school ID <input type="text" value="UIT" name="school" /><br />
                <input type="submit" value="Delete" />

            </form>
        </li>
        <li>
            <b>Edit Department</b>
            <form action="/Editor/EditDepartment">
                Please input ID <input type="text" value="" name="departmentID" /><br />
                Please input school ID <input type="text" value="" name="school" /><br />

                <input type="submit" value="Edit" />

            </form>
        </li>


    </ul>
</details>
<br />
<summary>University Edit</summary>
<details>
    <ul>
        <li>
            <b> Find University by ID</b>
            <form action="/Editor/ReturnUniversityByID">
                Please input ID of the university you want to find <input type="text" value="" name="universityID" /><br />

                <input type="submit" value="Find" />

            </form>
        </li>
        <li>
            <b>Add University</b>
            <form action="/Editor/AddUniversity">
                Please input ID <input type="text" value="" name="id" /><br />
                Please input Name <input type="text" value="" name="name" /><br />

                <input type="submit" value="Add" />

            </form>
        </li>
        <li>
            <b>Get All University </b>
            <form action="/Editor/GetAllUniversity">
                <input type="submit" value="Get All University" />

            </form>
        </li>
        <li>
            <b>Delete University</b>
            <form action="/Editor/DeleteUniversity">
                Please input ID <input type="text" value="" name="id" /><br />
                <input type="submit" value="Delete" />

            </form>
        </li>
        <li>
            <b>Edit University</b>
            <form action="/Editor/EditUniversity">
                Please input ID <input type="text" value="" name="universityID" /><br />

                <input type="submit" value="Edit" />

            </form>
        </li>


    </ul>
</details>
<br />